html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(63, 63, 194);
 
}

.form-signin {
  width: 80%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: white;
  
  
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
h1{
  text-shadow: 0 13px 13px black;
  font-weight: bold;
  font-family: Arial;
  letter-spacing: 1pc;
  font-size: 18px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #error-message{
    color: red;
}
.container{
  border: 1px solid black;
  box-shadow: 0 13px 13px black;
  width: 30%;
  height: 60%;
  margin: auto;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
span{
  font-family: Helvetica;
  font-size: 1.1pc;
  font-weight: bold;
  float: left;
  padding: 10px;
}
#signinLogo{
  background-color: white;
  width: 100%;
  margin: auto;
}