#sessionUser{
    justify-content: flex-end;
    color: red;
}
img{
    padding: 0;
    margin-top:10px;
    margin-left: 10px;
}

#welcome{
   color: black;
   font-size:3em;
   font-weight: bold;
   background-color: white;
   margin-top: 0.5em;
   width: 60%;
   margin-left: 230px;
   box-shadow: 0 16px 16px black;
   
}
button{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid black;
}

t
#surroundingBox{
    box-shadow: 0 13px 13px black;
    margin: 5px 10px 30px 130px;
    border: 1px solid rgb(12, 1, 1);
    display: inline-block;
    padding: 20px;
    background-color: aliceblue;
}

body{
    background-color: rgb(229, 234, 240);
}
#tableAssociate{
    margin-top: 2em;
    margin-left: 580px;
    background-color: #ccc;
    text-align: center;
    box-shadow: 0 16px 16px black;
    border: 1px solid rgb(139, 62, 62);
    
}
#tableAssociate td:hover{
    background-color: rgb(199, 167, 167);
    color: white;
    
}
td>a :hover{
    color: white;
}
#th1{
    background-color: rgb(10, 10, 10);
    color: white;
}
td{
background-color: #eee;
}
#tableAssociateReimbursement{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 13px 13px black;
    display: none;
    font-weight: bold;
    margin: auto;

}
#tableAssociateProfile{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 13px 13px black;
    display: none;
    margin: 30px;
    font-weight: bold;
    
}
#tableAssociateProfile th{
    background-color: rgb(30, 61, 107);
    color: white;
}
#tableAssociateReimbursement th{
    background-color: rgb(30, 61, 107);
    color: white;
    
}
#footerBox{
    color: black;
    margin-left: 540px;
    font-family: Helvetica;
    font-size: 16px;
    text-shadow: 0 16px 16px black;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-top: 10px;
    padding: 60px;
}
nav{
    text-shadow: 0 14px 14px black;
}
#profile{
    width: 50%;
}
#tableAssociateProfile{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 13px 13px black;
    display: none;
    margin: 30px;
}
#footerBox{
    color: black;
    margin-left: 550px;
    font-family: Helvetica;
    font-size: 16px;
    text-shadow: 0 16px 16px black;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.btn{
    color: black;
}
.btn:hover{
    background-color: black;
    color: white;
}
#submitReimbursementAssociate{
    color: white;
}

